$screen-xl: 2160px;
$screen-lg: 1440px;
$screen-md: 1023px;
$screen-sm: 767px;
$screen-xs: 390px;

$custom-easing: cubic-bezier(0.645, 0.045, 0.355, 1);

$background: rgb(248, 249, 250);
$background-darker: rgb(242, 242, 247);
$box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 8px;
$max-width: 1200px;

$orange: rgb(255, 107, 53);
$grey: rgb(142, 142, 147);
